.relative {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #1F2937;
    /* Este es el equivalente a bg-slate-950 en Tailwind */

}

.absolute {
    position: absolute;
    bottom: 0;
    top: -10%;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: radial-gradient(circle farthest-side, rgba(255, 0, 182, 0.15), rgba(255, 255, 255, 0));
}

.left {
    left: -20%;
}

.right {
    right: -20%;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#background::after {
    content: "";
    background: url('https://images.pexels.com/photos/3784221/pexels-photo-3784221.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center/cover no-repeat fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
}