.bentobox {  
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  padding: 10px;
  counter-reset: div;
  gap: 10px 10px;
}

.item:nth-child(5n + 5),
.item:nth-child(5n + 1) {
  grid-column: auto /span 2;
}

.item:nth-child(5n + 3),
.item:nth-child(5n + 2) {
  grid-row: auto /span 2;
}

.item {
  border: solid;
  display: flex;
  border-radius: 10px;
}

body {
  background-color: white !important;
  animation-play-state: paused !important;
}

.categoryCard {
  transition: transform 0.3s ease;
  border-radius: 7px;
}

.categoryCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoryCard:hover {
  transform: scale(1.1);
}



