/* Estilos base */
.video {
  position: relative;
  width: 100%;
  height: auto; /* Para que el video sea responsive */
  z-index: -1;
}

.image-landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -90%);
  max-width: 50%; /* Ajustar el tamaño máximo para todos los dispositivos */
  height: auto; /* Para que la altura se ajuste automáticamente */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -10%);
  color: white;
  font-size: 20px;
  text-align: center;
  width: 34%;
  max-width: 800px;
  background-color: rgba(252, 252, 252, 0.2);
  border-radius: 0px;
  padding: 10px;
}
.btns-landing  {
  border: 1px solid rgba(255, 255, 255, 0.089);
  font-size: 16px;
  color: white;
  padding:  7px 16px;
  border-radius: 6px;
  margin: 0 0px 2px 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px) !important;
  background-color: rgba(65, 65, 65, 0.308) !important;
}



/* Media query para dispositivos con ancho de pantalla de hasta 576px (dispositivos móviles pequeños) */
@media (min-width: 300px) and (max-width: 425px) {
  .image-landing {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -90%);
    margin-left: 10px;
  }
  .overlay-text {
    width: 10px;
    max-width: 46%;
    font-size: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-56%, -6%);
    padding: 10px;
  }
  .btns-landing {
    font-size: 10px;
    padding: 7px 16px;
    margin: 0 0px 2px 7px;
  }
}
.btns-landing:hover {
  background: grey !important; /* Cambiar el color de fondo */
  color: black; /* Cambiar el color del texto */
}


/* Media query para dispositivos con ancho de pantalla de hasta 768px (tablets) */
@media (max-width: 768px) {
  .image-landing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-97%, -90%);
    margin-left: 10px;
  }
  .overlay-text {
    width: 10px;
    max-width: 33%;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-98%, -6%);
    padding: 10px;
    
  }
  .btns-landing {
    font-size: 10px;
    padding:  7px 16px;
    margin: 0 0px 2px 7px;
  }
}

/* Media query para dispositivos con ancho de pantalla de hasta 1200px (escritorios grandes) */
@media (max-width: 1200px) {
  .overlay-text {
    width: 270px;
    max-width: 40%;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-96%, -6%);
    padding: 10px;
    
  }
  .btns-landing {
    font-size: 10px;
    padding:  7px 16px;
    margin: 0 0px 2px 7px;
  }
}



.card-l {
    width: 300px; /* Ancho fijo de la tarjeta */
  height: 380px; /* Altura fija de la tarjeta */
  overflow: hidden; /* Para que la imagen no se salga de la tarjeta */
  }

  .card-l h5{
font-weight: bold;
  font-size: 20px;
  margin: 0 10px 10px 10px;
  color: black;
  }

  .card-l p {
    margin-top: 15px;
  }
  
  .card-img-l {
    width: 100%; /* La imagen ocupa el 100% del ancho de la tarjeta */
    height: 50%; /* La imagen ocupa el 100% de la altura de la tarjeta */
    object-fit:cover; 
    object-position: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .card-body {
    padding: 20px; /* Ajusta el relleno interno según tus necesidades */
    margin-top: auto;; /* Ajusta el relleno interno según tus necesidades */
  }

  