/*------------------------------Profile Banner---------------------------------------*/
.banner-profile{
  background-color: rgba(255, 255, 255, 0.676);
}

.banner-profile .img-fluid {
  width: 1272px;
  height:400px;
  object-fit: cover;
  object-position: center;
  border-radius: 0 0 10px 10px;
}

.picture .img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
 }

.btns, .btns-add  {
  border: 1px solid rgba(255, 255, 255, 0.089);
  font-size: 15px;
  color: white;
  padding:  7px 16px;
  border-radius: 6px;
  margin: 0 0px 2px 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px) !important;
  background-color: rgba(65, 65, 65, 0.308) !important;
  
}

.btns:hover {
  background: grey !important; /* Cambiar el color de fondo */
  color: black; /* Cambiar el color del texto */
}

.d-item {
  width: 95%;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px) !important;
  background-color: rgba(65, 65, 65, 0.308) !important;
}
.d-item a {
  color: white;
}

.btns-add:hover {
  background: grey; /* Cambiar el color de fondo */
  color: black; /* Cambiar el color del texto */
}

.profile-picture{
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.676);
}
#username h1 {
  color: black;
}

.modal-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.image-title{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.image-title .btns {
 width: 80px;
 height: 30px;
}
.image-title h6 {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.modal-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
}

.banner-img .img-fluid {
  height: 200px;
  width: 100%;
  border-radius: 20px;
  padding:10px ;
}

.modal-detail {
 display: flex;
 justify-content: center;
 align-items: center;
}

.modal-detail textarea {
  height: 100%;
  width: 100%;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;

}
/*------------------------------Profile Banner---------------------------------------*/
.inputGroup {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  row-gap: 3px;
  column-gap: 6px;
}
.inputGroup .input {
width: 49%;
 height: 40px;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 8px;
 outline: none;
 background-color: #f3f3f4;
 color: #0d0c22;
 transition: .3s ease;
}

.input::placeholder {
  color: #9e9ea7;
 }

.input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }



/*------------------------------Profile----------------------------------------------*/


.myTab{
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
}

 .card-detail {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: auto;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(120, 115, 115, 0.304);
  border: 1px solid rgba(61, 59, 59, 0.089);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 7%; /* Establece la posición de arriba donde se quedará pegado el div */
  gap: 8px;
  z-index: 1000;
  color: white; 
} 


.card-info {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: auto;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(120, 115, 115, 0.304);
  border: 1px solid rgba(61, 59, 59, 0.089);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: calc(8% + 20px + 8%);
  gap: 3px;
  z-index: 1000;
  color: white; 
}

.card-music {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: auto;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(120, 115, 115, 0.304);
  border: 1px solid rgba(61, 59, 59, 0.089);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: calc(8% + 20px + 8% + 8px + 20%);
  gap: 10px;
  z-index: 1000;
  color: white; 
}
 
.card-music-detail, .card-detail-info {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 10px;
  padding: 10px 30px 20px 30px;
  flex-grow: 1;
  flex-shrink: 1;
}
.card-detail-content {
  width: 100%;
  height: 50%;
  text-align: center;
  margin: 10px;
  padding: 10px 30px 20px 30px;
  flex-grow: 0.7;
  flex-shrink: 1;
}

.card-detail-content h5 {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: start;
  margin-bottom: 15px;
  color: white;
}

.card-detail-content p {
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 20px;
}
.card-detail-info h5 {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: start;
  margin-bottom: 15px;
}


.btns-music  {
  border: 1px solid rgba(255, 255, 255, 0.089);
  font-size: 16px;
  color: white;
  padding:  7px 15px;
  border-radius: 6px;
  margin: 0 0px 2px 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
}

.card-music-detail h5{
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: start;
  margin-bottom: 15px;
}
.btns-add  {
  border: 1px solid rgba(255, 255, 255, 0.089);
  font-size: 16px;
  color: white;
  padding:  7px 16px;
  border-radius: 6px;
  margin: 0 0px 2px 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns-add i{
  font-size: 10px;
}
.navba{
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.676);
  border: 1px solid rgba(255, 255, 255, 0.089);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

.navba h5{
  color: black;
}

/*------------------------------Card Event----------------------------------------------*/
.cardEvent {
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(120, 115, 115, 0.304);
  border: 1px solid rgba(61, 59, 59, 0.089);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  padding: 10px; 
  color: white;
}

/* Modal editar información banner  */
.custom-modal {
  backdrop-filter: blur(10px);
}

.delete-title h2{
  color:#fff;
  text-align: center;
  font-size: 20px;
display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .wrapper-e .carousel-e {
    grid-auto-columns: calc((100%) - 9px);
  }
  .card-detail {
    position: static;
    top: auto;
  } 
  .card-info {
    position: static;
    top: auto;
  }
  
  .card-music {
    position: static;
    top: auto;
  }
  .cardEvent h2 {
    font-size: 40px;
    margin-top: 15px;
   }
   .cardEvent p {
     font-size: 20px;
     margin-top: 10px;
    }
}

@media screen and (max-width: 900px) {
  .wrapper-e .carousel-e {
    grid-auto-columns: calc((100%) - 9px);
  }
  .card-detail {
    position: static;
    top: auto;
  } 
  .card-info {
    position: static;
    top: auto;
  }
  
  .card-music {
    position: static;
    top: auto;
  }
}


@media screen and (max-width: 601px) {
  .wrapper-e .carousel-e {
    grid-auto-columns: calc((100%) - 10px);
  }
  .buttonEdit  .btns{
    font-size: 14px;
  }
  .card-detail {
    position: static;
    top: auto;
  } 
  .card-info {
    position: static;
    top: auto;
  }
  
  .card-music {
    position: static;
    top: auto;
  }
  
}
@media screen and (max-width: 426px) {
  .wrapper-e .carousel-e {
    grid-auto-columns: calc((100%) - 10px);
  }
  .buttonEdit  .btns{
    font-size: 10px;
  }
  .profileName {
    display: flex !important;
    flex-direction: column;
  }
  .profileName h1 {
    font-size: 40px;
  }
  .cardContent h5 {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
  } 
  .cardContent p {
    font-size: 15px;
  } 
  .card-detail {
    position: static;
    top: auto;
  } 
  .card-info {
    position: static;
    top: auto;
  }
  
  .card-music {
    position: static;
    top: auto;
  }
  .cardEvent h2 {
   font-size: 25px;
   margin-top: 10px;
  }
  .cardEvent p {
    font-size: 14px;
    margin-top: 10px;
   }

}

.modal-bg{
  background-color: rgba(43, 57, 62);
  color: #f3f3f4;
}
