/*------------------------------Profile Banner---------------------------------------*/
.banner-profile{
  background-color: rgba(255, 255, 255, 0.676);
}

.banner-profile .img-fluid {
  width: 1272px;
  height:400px;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}

.picture .img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
 }

.btns, .btns-add  {
  border: 1px solid rgba(255, 255, 255, 0.089);
  font-size: 16px;
  color: white;
  padding:  7px 16px;
  border-radius: 6px;
  margin: 0 0px 2px 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
}

.btns:hover {
  background: grey; /* Cambiar el color de fondo */
  color: black; /* Cambiar el color del texto */
}

.btns-add:hover {
  background: grey; /* Cambiar el color de fondo */
  color: black; /* Cambiar el color del texto */
}

.profile-picture{
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.676);
}
#username h1 {
  color: black;
}

.modal-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.image-title{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.image-title .btns {
 width: 80px;
 height: 30px;
}
.image-title h6 {
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}

.modal-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
}

.banner-img .img-fluid {
  height: 200px;
  width: 100%;
  border-radius: 20px;
  padding:10px ;
}

.modal-detail {
 display: flex;
 justify-content: center;
 align-items: center;
}

.modal-detail textarea {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
/*------------------------------Profile Banner---------------------------------------*/
.inputGroup {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
}
.input {
  max-width: 300px;
  min-height: 40px;
  padding: 10px;
  font-family: sans-serif;
  outline: none;
  background: #e8e8e8;
  border: white;
  border-radius: 10px;
  transition: all .5s;
  margin: 8px 4px 2px 3px;
}

.input:focus {
  background: #e8e8e8;
  box-shadow: inset 5px 5px 17px #c8c8c8,
            inset -5px -5px 17px #ffffff;
}

/*------------------------------Profile----------------------------------------------*/


.myTab{
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
}

.card-detail {
  width: 470px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.676);
  border: 1px solid rgba(61, 59, 59, 0.089);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 60px; /* Establece la posición de arriba donde se quedará pegado el div */
  z-index: 1000;
}

.card-music {
  width: 470px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.676);
  border: 1px solid rgba(255, 255, 255, 0.089);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 260px; /* Establece la posición de arriba donde se quedará pegado el div */
  z-index: 1000;
}
 
.card-detail-content, .card-music-detail {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 10px;
  padding: 10px 30px 20px 30px;
  
}

.card-detail-content h5 {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: start;
  margin-bottom: 15px;
}

.card-detail-content p {
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 20px;
}
.btns-music  {
  border: 1px solid rgba(255, 255, 255, 0.089);
  font-size: 16px;
  color: white;
  padding:  7px 15px;
  border-radius: 6px;
  margin: 0 0px 2px 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
}

.card-music-detail h5{
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: start;
  margin-bottom: 15px;
}
.btns-add  {
  border: 1px solid rgba(255, 255, 255, 0.089);
  font-size: 16px;
  color: white;
  padding:  7px 16px;
  border-radius: 6px;
  margin: 0 0px 2px 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns-add i{
  font-size: 10px;
}
.navbar{
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.676);
  border: 1px solid rgba(255, 255, 255, 0.089);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

.navbar h5{
  color: black;
}

/*------------------------------Card Event----------------------------------------------*/
.card-e {
  width: 650px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.wrapper-e{
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper-e .carousel-e{
  display: grid;
  grid-auto-flow: row;
  gap: 16px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel-e .card-e{
  height: 410px;
  list-style: none;
  cursor: pointer;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.676);
  border: 1px solid rgba(255, 255, 255, 0.089);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

.card-e .img img {
  width: 650px;
  height: 255px;
  object-fit: cover;
  border-radius: 2%;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  transition: transform 0.3s ease; /* Agregar transición suave al zoom */
  overflow: hidden;

}

.card-e .img img:hover {
  transform: scale(1.1); /* Aplicar un zoom del 10% al hacer hover */
  
}

.card-e-content{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 5px;
}

.card-e h2{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin: 10px 10px 10px 10px;
  color: black;
}
.card-e span {
  color: black;
  font-size: 15px;
  color: black;
}

.card-e-footer {
  padding: 5px;
 
}

@media screen and (max-width: 900px) {
  .wrapper-e .carousel-e {
    grid-auto-columns: calc((100%) - 9px);
  }
}


@media screen and (max-width: 601px) {
  .wrapper-e .carousel-e {
    grid-auto-columns: calc((100%) - 10px);
  }
}