/*------------------------------Profile Banner---------------------------------------*/
.banner-profile{
  background-color: rgba(255, 255, 255, 0.676);
}

.banner-profile .img-fluid {
  width: 1272px;
  height:400px;
  object-fit: cover;
  object-position: center;
  border-radius: 0 0 10px 10px;
}

.picture .img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
 }

.btns, .btns-add  {
  border: 1px solid rgba(255, 255, 255, 0.089);
  font-size: 16px;
  color: white;
  padding:  7px 16px;
  border-radius: 6px;
  margin: 0 0px 2px 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px) !important;
  background-color: rgba(65, 65, 65, 0.308) !important;
}

.btns:hover {
  background: grey !important;
  color: black;
}

.btn-interes-musical {
  display: flex;
}

.d-item:hover {
  background: grey !important; /* Cambiar el color de fondo */
  color: white; /* Cambiar el color del texto */
}

.btns-add:hover {
  background: grey;
  color: black;
}

.profile-picture{
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.676);
}
#username h1 {
  color: black;
}

.modal-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.image-title{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.image-title .btns {
 width: 80px;
 height: 30px;
}
.image-title h6 {
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}

.modal-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
}

.banner-img .img-fluid {
  height: 200px;
  width: 100%;
  border-radius: 20px;
  padding:10px ;
}

.modal-detail {
 display: flex;
 justify-content: center;
 align-items: center;
}

.modal-detail textarea {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
/*------------------------------Profile Banner---------------------------------------*/
.inputGroup {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
}

.input {
  max-width: 300px;
  min-height: 40px;
  padding: 10px;
  font-family: sans-serif;
  outline: none;
  background: #e8e8e8;
  border: white;
  border-radius: 10px;
  transition: all .5s;
  margin: 8px 4px 2px 3px;
}
.input:focus {
  background: #e8e8e8;
  box-shadow: inset 5px 5px 17px #c8c8c8,
            inset -5px -5px 17px #ffffff;
}

/*------------------------------Profile----------------------------------------------*/

.btns-music  {
  border: 1px solid rgba(255, 255, 255, 0.089);
  font-size: 16px;
  color: white;
  padding:  7px 15px;
  border-radius: 6px;
  margin: 0 0px 2px 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
}

.btns-add  {
  border: 1px solid rgba(255, 255, 255, 0.089);
  font-size: 16px;
  color: white;
  padding:  7px 16px;
  border-radius: 6px;
  margin: 0 0px 2px 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns-add i{
  font-size: 10px;
}