*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.card-c {
  width: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper{
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 3px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.carousel::-webkit-scrollbar{
  display: none;
}

.carousel.dragging{
  scroll-behavior: auto;
  scroll-snap-type: none;
}
.carousel.dragging .card-c {
  cursor: grab;
  user-select: none;
}
.carousel .card-c{
  scroll-snap-align: start;
  height: 410px;
  list-style: none;
  cursor: pointer;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

.card-c .img img {
  width: 325px;
  height: 210px;
  object-fit: cover;
  border-radius: 5%;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  transition: transform 0.3s ease; /* Agregar transición suave al zoom */
  overflow: hidden;

}

.card-c .img img:hover {
  transform: scale(1.1); /* Aplicar un zoom del 10% al hacer hover */
  
}

.card-c-content{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 5px;
}

.card-c h2{
  font-weight: 500;
  font-size: 28px;
  margin: 0 10px 10px 10px;
  color: white;
}
.card-c span {
  color: black;
  font-size: 15px;
  color: white;
}

.card-c-footer {
  padding: 5px;
 
}
.card-c .button {
  border: 1px solid white; 
  font-size: 16px;
  color: white;
  padding:  7px 16px;
  border-radius: 6px;
  margin: 0 14px 14px 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
}

.card-c .button:hover {
  background: white; /* Cambiar el color de fondo */
  color: black; /* Cambiar el color del texto */
}



@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}


@media screen and (max-width: 601px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100%) - -50px);
  }
}


