.card-container {
  box-sizing: border-box;
  width: 300px;
  height: 400px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
 user-select: none; 
 position: relative;
 overflow: hidden;
 max-width: 100%;
max-height: 100%;
}

.card-container:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card-container:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
 
}

.card-body {
  font-family: sans-serif;
  transform: translateX(2px) translateY(-191.5px);
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: justify;
}

 .card-large {
  box-sizing: border-box;
 width: 622px;
 height: 400px;
 background: rgba(217, 217, 217, 0.58);
 border: 1px solid white;
 box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
 backdrop-filter: blur(6px);
 border-radius: 17px;
 cursor: pointer;
 transition: all 0.5s;
user-select: none; 
position: relative;
overflow: hidden;
display: flex;
max-width: 100%;
max-height: 100%;
 }

 .card-large:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card-large:active {
  transform: scale(0.95) rotateZ(1.7deg);
}


 .img-large {
  max-width: 50%; /* Limita la imagen a ocupar máximo la mitad de la tarjeta */
  object-fit: cover;
  border-radius: 20px;
  padding: 10px;
  
 }

 .card-body-large {
  flex: 1;
  max-width: 50%;
  text-align: justify;
  margin: 140px 15px 0px 15px;
 }



.card-small {
  box-sizing: border-box;
width: 300px;
height: 400px;
background: rgba(217, 217, 217, 0.58);
border: 1px solid white;
box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
backdrop-filter: blur(6px);
border-radius: 17px;
cursor: pointer;
transition: all 0.5s;
user-select: none; 
position: relative;
overflow: hidden;
max-width: 100%;
max-height: 100%;
}

.card-small:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card-small:active {
  transform: scale(0.95) rotateZ(1.7deg);
}


.img-small {
  width: 93%; /* La imagen ocupa todo el ancho de la tarjeta */
  height: 180px; /* Altura fija para la imagen */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible */
  margin-top: 10px;
}

.card-body-small {
margin-top: 30px;
padding: 15px;
text-align: justify;
}