#carouselExampleIndicators {
    border-radius: 10%;
}

.c-item { 
height: 580px;
max-width: 100%;
border-radius: 2%;
}

.c-img {
height: 100%;
object-fit: cover;
filter: brightness(0.8);
border-radius: 2%;
}

.title {
    color: white; /* Color del texto blanco */
    font-size: 30px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente en negrita */
    padding: 10px; /* Espaciado interno */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.description {
    color: white; /* Color del texto blanco */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: normal; /* Peso de la fuente en negrita */
    padding: 10px; /* Espaciado interno */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}