.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.busqueda_lupa {
  display: flex;
  border: none;
  box-shadow: none;
  background: none;
  width: 20px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.lupa {
  position: relative;
  right: 40px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  /* filter: drop-shadow(0px 0px 5px rgba(151, 65, 65, 0.652)); */
}
