.logoHorizontal {
  width: 140px;
  height: auto;
  transition: transform 0.3s ease;
}
.logoHorizontal:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.logoVertical {
  width: 160px;
  height: auto;
  transition: transform 0.3s ease;
}
.logoVertical:hover {
  cursor: pointer;
  transform: scale(1.3);
}
